<h2>Track Employees</h2>
<table class="table">
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Salary</th>
        <th>Title</th>
        <th>Hire Date</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="employee in ec.employees.list">
            <td>
              <div ng-hide="employee.editing">{{employee.name}}</div>
              <input ng-show="employee.editing" ng-model="employee.name" ng-value="employee.name">
            </td>
            <td>
              <div ng-hide="employee.editing">{{employee.id}}</div>
              <input ng-show="employee.editing" ng-model="employee.id" ng-value="employee.id">
            </td>
            <td>
              <div ng-hide="employee.editing">{{employee.salary}}</div>
              <input ng-show="employee.editing" ng-model="employee.salary" ng-value="employee.salary">
            </td>
            <td>
              <div ng-hide="employee.editing">{{employee.title}}</div>
              <input ng-show="employee.editing" ng-model="employee.title" ng-value="employee.title">
            </td>
            <td>
              <div ng-hide="employee.editing">{{employee.hiredate |  date:'shortDate'}}</div>
              <input ng-show="employee.editing" ng-model="employee.hiredate" ng-value="employee.hiredate.substring(0,10)">
            </td>
            <td><button ng-hide="employee.editing" ng-click="employee.editing=true">Edit</button>
                <button ng-show="employee.editing" ng-click="ec.updateEmployee(employee)">Submit</button>


            </td>
            <td><button ng-click="ec.deleteEmployee(employee._id)">Delete</button></td>
        </tr>
    </tbody>
</table>
